/* 
.chatBodyWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  padding-right: 0; 
  position: relative;
}

.chatBody {
  flex: 1;
  border-radius: 8px;
  padding: 20px;
  overflow-y: auto;
  margin-bottom: 60px; 
}

.chatBody h1 {
  margin-top: 5rem;
  margin-bottom: 20px;
}

.chatSuggestion {
  display: flex;
  align-items: center;
  background-color: #f7e1e1;
  margin-top: 20px;
}

.inputSection {
  position: fixed;
  bottom: 2rem;
  left: 300px; 
  right: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #f7f7f7;
  border-radius: 30px;
  margin-left: 3rem;
}

.textarea {
  flex: 1;
  padding: 0;
  border: none;
  border-radius: 20px 0 0 20px;
  resize: none;
  outline: none;
  font-size: 14px;
  background-color: #fff0f5;
  height: 3rem;
  padding-left: 10px;
 
}

.buttonSection {
  display: flex;
  align-items: center;
}

.attachButton {
  background-color: gray;
  color: white;
  border: none;
  cursor: pointer;
  padding: 14px;
 
  border-radius: 0 20px 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110%;
}

.sendButton {
  background-color: gray;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 20px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.sendButton:hover {
  background-color: #333;
}

.attachButton img,
.sendButton img {
  width: 24px;
  height: 24px;
} */

.chatBodyWrapper {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
  width: 100%;
  position: relative;
}

.chatBodyWrapperToggle {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
  width: 100%;
  position: relative;
  right: 150px;
}

.chatBody {
  flex: 1;
  border-radius: 8px;
  padding: 20px;
  overflow-y: auto;
  text-align: center;
  width: 100%;
  max-width: 800px;
  transition: margin-top 0.3s ease;
  position: relative;
}

.chatBody.sticky {
  margin-top: 60px;
}

.chatBody h1 {
  margin-top: 5rem;
  margin-bottom: 20px;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.userMessage {
  align-self: flex-end;
  background-color: gainsboro;
  padding: 10px;
  border-radius: 10px;
  max-width: 40%;
  word-wrap: break-word;
}

.apiMessage {
  align-self: flex-start;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
  word-wrap: break-word;
}

.inputSection {
  position: sticky;
  bottom: 2rem;
  width: calc(100% - 40px);
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 30px;
  padding: 5px;
}

.textarea {
  flex: 1;
  border: none;
  border-radius: 20px 0 0 20px;
  resize: none;
  outline: none;
  font-size: 14px;
  padding: 10px;
  min-height: 38px;
  max-height: 150px;
  /* box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); */
  font-family: "Roboto", sans-serif;
}
.typingIndicator {
  padding: 10px;
  background-color: #060607;
  border-radius: 18px;
  display: flex;
  align-self: flex-start;
  margin-bottom: 10px;
}

.typingIndicator span {
  height: 8px;
  width: 8px;
  margin: 0 1px;
  background-color: #93979b;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}

.typingIndicator span:nth-of-type(1) {
  animation: 1s blink infinite 0.3333s;
}

.typingIndicator span:nth-of-type(2) {
  animation: 1s blink infinite 0.6666s;
}

.typingIndicator span:nth-of-type(3) {
  animation: 1s blink infinite 0.9999s;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

.buttonSection {
  display: flex;
  align-items: center;
}

.attachButton {
  background-color: gray;
  color: white;
  border: none;
  cursor: pointer;
  padding: 14px;
  border-radius: 0 20px 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attachButtonHighlight {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  padding: 14px;
  border-radius: 0 20px 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Scrollbar styling */
.chatBody::-webkit-scrollbar {
  width: 8px;
}

.chatBody::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.chatBody::-webkit-scrollbar-track {
  background: transparent;
}
