.txHeader {
  display: flex;
  position: absolute;
  left: 300px;
  width: -webkit-fill-available;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  /* background-color: #eedfdf; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #000;
  transition: left 0.3s ease;
}

.shiftedHeader {
  left: 300px;
}

.shiftedHeaderClose {
  left: 0;
}

.txLogo {
  display: flex;
  align-items: center;
}

.txLogo img {
  height: 40px;
  border: 1px solid red;
  border-radius: 50px;
  margin-left: 1.5rem;
  padding: 0.1rem;
}

.toggleModal {
  display: flex;
  align-items: center;
}

.toggleModal h1 {
  padding: 5px;
}

.toggleModal h1:hover{
  cursor: pointer;
  background-color: rgb(228, 228, 228);
}

.toggleModal button {
  margin-left: 0.5rem;
}

.txLogo h1 {
  margin-left: 1rem;
}

.txNav {
  display: flex;
  align-items: center;
}

.txNavList {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.txNavList li {
  margin-left: 20px;
}

.txNav img {
  height: 24px;
  width: 24px;
}
