.txHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #eedfdf;
  color: #000; 
}

.txLogo {
  display: flex;
  align-items: center;
  
}

.txLogo img {
  height: 40px;
  border: 1px solid red;
  border-radius: 50px;
  margin-left: 1.5rem;
  padding: 0.1rem;
}

.txLogo h1{
  margin-left: 1rem;
}

.txNav {
  display: flex;
  align-items: center;
}

.txNavList {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.txNavList li {
  margin-left: 20px;
}

.txNav img {
  height: 24px;
  width: 24px;
}
