.txHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #eedfdf;
  color: #fff;
}

.txLogo img {
  height: 40px;
}

.txNav a {
  
  margin-left: 20px;
  text-decoration: none;
}

.txNav img {
  /* display: flex; */
  height: 24px;
  width: 24px;
}
